save-exact=true

registry = "https://registry.npmmirror.com"

electron_mirror="https://npmmirror.com/mirrors/electron/"
ELECTRON_BUILDER_BINARIES_MIRROR="https://npmmirror.com/mirrors/electron-builder-binaries/"

# https://github.com/electron-userland/electron-builder/issues/2968
# shamefully-hoist=true
